.tesdiqle{
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #494949;
    border-radius: 6px;
    color: #fff;
    margin: 5px 0;
}

.tesdiqle:hover{
    background-color: #fee500;
    color: #494949;
}

a.card-mini {
    cursor: pointer;
    float: left;
    box-shadow: 0 0 9px 0px rgba(0,0,0,.1);
    border-radius: 6px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 6px;
    width: 100%;
    height: 260px;
    color: #333;
}

.menu-wrap{
    position: fixed;
    top: 68px;
    left: 10px;
    background-color: #f2f3f5;
    width: 16%;
    height: 91vh;
    border-radius: 10px;
}

.menu-content ul{
    padding: 10px;
    width: 100%;
}

.menu-content ul li{
    list-style: none;
}

.menu-content ul li.section{
    font-weight: 600;
    padding: 10px;
    /* background-color: #333; */
    color: #6a7480;
}

.menu-content ul li a{
    display: block;
    padding: 5px 10px;
    color: #6a7480;
    border-radius: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.menu-content ul li a:hover{
    background-color: #fee500;
    color: #494949;
    text-decoration: none;
}