body{
	color: #525252!important;
	/*background-color: #f2f2f2;*/
	font-family: "Nunito", sans-serif;
}

strong{
	color: inherit;
}

a{
	color: #0070cc;
}

.bg-blue{background-color: #0E7AE1;}
.navbar-default .navbar-nav>li>a{color: #000;}
.navbar-default .navbar-nav>li>a{color: #000;}
.sign a{color: #000}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{background: #000000;color: #fff;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{background-color: #07C8F9;}
/*.navbar-brand{color: #000!important;font-size: 28px;font-family: 'Philosopher', sans-serif;font-weight: 500;}*/
.navbar-brand{color: #000!important;font-size: 28px;font-family: 'Nunito', sans-serif;font-weight: 600;padding-top: 20px;}
.navbar-default .navbar-brand:hover{color: #fff;}
.navbar-default{border: 0 transparent;border-radius: 0;z-index: 200;background-color: var(--main-bg-color);box-shadow: 0 0 10px 4px rgba(0,0,0,0.2);}

.welcome h1,.welcome h2{font-weight: 400;}
.welcome span{font-weight: 300;}

.font-weight-100, .font-weight-100 h1{font-weight: 200;}

.panel input{
width: 100%;
padding: 5px 10px;
border-radius: 4px;
border: 1px solid #d2d2d2;
outline: none;
font-size: 16px;
font-weight: 400;
}

.panel-body p{
font-size: 16px;
font-weight: 200;
}

.panel-body input{margin-bottom: 10px;}

section{
width: 100%;
position: relative;
float: left;
height: 70vh;
}

section#home_cover{
background: #fff;
}

.mt20{margin-top: 20px;}
.mt40{margin-top: 40px;}
.p0{padding: 0;}

.header_cover{
width: 100%;
height:92.3vh;
float: left;
}

.header_cover h1{
color: #fff;
font-size: 66px;
text-shadow: 0 0 1px rgba(0,0,0,.5);
margin-top: 120px;
}

#main h1 span{
background: #007ae4;
padding: 8px 20px;
border-radius: 10px;
}
.bottom-menu{
width: 100%;
height:13vh;
background: #ccc;
float: left;
}

section{
position: relative;
width: 100%;
height: 100vh;
float: left;
}

section#main{
background: url("../img/bg3.jpg");
background-size: 100% 100%;
z-index: 200;
}

section #about{
position: fixed;
top: 0;
z-index: 100;
width: 100%;
}

#about h1{
display: inline-block;
text-align: left;
z-index: 100;
}

.panel-title .price{color: rgb(0, 122, 228); font-weight: 500;}
.no-bgcolor{background: transparent;}
.border-none{border: nonen;}

a.card:hover, a.card-mini:hover{
text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link{
color: rgb(255, 255, 255)!important;
}

.card-body li{
list-style: none;
}

.setir{
padding: 10px 50px;
text-align: center;
border-top: 1px solid black;
height: 50px;
/*min-width: 50px;*/
line-height: 20px;
text-align: center;
/*display: block;*/
}

.sutun{
float: left;
display: block;
border-left: 1px solid black;
/*padding: 10px 30px;*/
}

.menu{
position: absolute;
width: 185px;
min-height: 82px;
color: #fff;
border-radius: 10px;
display: none;

}


.menu ul{padding: 0;width: 100%;height: 65px;float: left;border-radius: 10px;}
.menu ul li{
z-index: 1000;
list-style: none;
float: left;
width: 100%;
/*text-align: left;*/
padding: 8px 20px;
border-bottom: 1px solid #444;
cursor: pointer;
}

.menu ul li:hover{
background: #258eff;
/*border-top-left-radius: 10px;*/
/*border-top-right-radius: 10px;*/
}

td[contenteditable="true"] br {
display:none!important;
}
td[contenteditable="true"] {
display:inline-block!important;
   white-space: unset;
}

.form-group.form-search input {
border-radius: 50px;
}

.form-control:focus {
border-color: #ccc;
outline: 0;
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,0); 
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,0); 
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
color: #fff;
background-color: #000000;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
color: #262626;
text-decoration: none;
background-color: var(--main-bg-color);
}

a.card {cursor: pointer;float: left;box-shadow: 0 0 9px 0px rgb(0 0 0 / 10%);border-radius: 6px;background: #fff;margin-bottom: 20px;border-radius: 6px;width: 100%;height: 280px;color: #333;position: relative;}


a.card-mini {
	cursor: pointer;
	float: left;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 15%);
	/* box-shadow: 0 17px 34px 0 rgb(44 39 56 / 4%), 0 8px 17px 0 rgb(44 39 56 / 2%); */
	border-radius: 6px;
	background: #fff;
	margin-bottom: 20px;
	border-radius: 6px;
	width: 100%;
	height: 230px;
	color: #333;
}

a.card-mini:hover{
	/* box-shadow: 0 1px 8px 0 rgb(0 0 0 / 48%); */
	box-shadow: 0 3px 8px 0px rgb(0 0 0 / 48%);
	transition: box-shadow 0.2s ease-in;
	/* background-color: #fee50008; */
}	


a.card{
text-decoration: none;
}

.card-title{padding-left: 10px;font-size: 18px;/* margin-top: 10px; */font-weight: 600;width: 100%;float: left;}

.card-mini .card-body{padding: 0 10px;}

.card-mini .card-img img{width: 100%;height: 125px;border-top-left-radius: 6px;border-top-right-radius: 6px;}

.card-mini .card-footer{padding-left: 10px;color: #c2c2c2;position: absolute;bottom: 5px;display: flex;flex-direction: column;justify-content: flex-end;align-content: stretch;align-items: flex-start;}

.mb-0{
	margin-bottom: 0;
}

.mb-1{margin-bottom: 5px;}
.mb-2{margin-bottom: 10px;}
.mb-3{margin-bottom: 15px;}
.mb-4{margin-bottom: 20px;}
.mb-5{margin-bottom: 25px;}

.form-group.form-search > .form-control {display: block;width: 100%;height: 34px;padding: 20px 40px;font-size: 14px;line-height: 1.42857143;color: #000;/* background-color: var(--main-bg-color); *//* background-image: none; *//* border: 1px solid var(--main-bg-color); *//* border-radius: 6px; *//* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); *//* box-shadow: inset 0 1px 6px rgba(0,0,0,.2); *//* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;box-shadow: 0 0 5px 1px rgb(0 0 0 / 20%);}

.form-group.form-search > .form-control::placeholder{
color: #666;
}

button.btn.btn-search {background: #000;color: #fff;border-radius: 20px;position: absolute;right: -15px;padding: 10px 25px;}

.card .price {
position: absolute;
width: 104px;
height: 40px;
background: var(--main-color);
line-height: 40px;
text-align: center;
font-weight: 600;
font-size: 14px;
bottom: 3%;
padding: 0px;
right: 7px;
box-shadow: 0 0 11px 6px rgba(0,0,0,.1);
border-radius: 50px;
}

/*.card .price::before {content: "";background-color: #fee500;width: 20px;height: 20px;position: absolute;right: 5px;top: 0px;transform: rotate(45deg);}*/

.black{color: #000;}
.mb-5{margin-bottom: 25px;}

.card-s{
background: #fff;
border-radius: 6px;
}

.card-s .price{
position: absolute;
width: 65px;
height: 32px;
background: #fee500;
line-height: 32px;
text-align: center;
font-weight: 600;
font-size: 12px;
bottom: 38%;
padding: 0px;
right: 10px;
box-shadow: 0 0 11px 6px rgba(0,0,0,.1);
}



.bg-dark{
background: #444;
color: #fff;
}

.header {height: 50px;width: 100%;background: #000;margin-bottom: 20px;box-shadow: 0 7px 12px 7px rgba(0,0,0,0.3);margin-top: 58px;z-index: 4;}

.navbar{margin-bottom: 0;}

.header .navbar-nav>li>a {
color: #fff;
}

.header .navbar-nav>li>a:hover{
background-color: var(--main-bg-color);;
color: #333;
}

main{
margin-top: 120px;
}

.box {cursor: pointer;background: #fff;/* padding: 20px; */box-shadow: 0 13px 20px 10px rgba(0,0,0,.2);border-radius: 20px;height: 290px;float: left;position: relative;width: 100%;}


.box img {
width: 100%;
height: inherit;
border-radius: 20px;
}

.box-footer{position: absolute;bottom: 0;height: 80px;box-sizing: border-box;background: var(--main-bg-color);width: 100%;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;}

.box-footer h4{/* margin: 29px; */float: left;font-size: 18px;color: #000;margin-top: 7px;margin-left: 3px;}

.box .price {width: 90%;height: 40px;line-height: 40px;background: #000;text-align: center;/* float: right; */cursor: pointer;color: #fff;border-radius: 20px;bottom: 10px;/* margin-right: 4px; */font-size: 14px;position: absolute; padding-left: 5%; padding-right: 5%;}

/* @media (max-width: 1200px){
	.box .price{
		width: 180px;
	}
}

@media (max-width: 991px){
	.box .price{
		width: 185px;
	}
}

*/

/* @media (max-width: 1200px){
	.navbar-collapse.collapse{
		display: none!important;
	}

	.navbar-toggle{
		display: inline-block;
	}
}  */

.banner{
width: 100%;
height: 90px;
background: #040404;
color: var(--main-color);;
padding: 5px 20px;
margin-bottom: 20px;
font-size: 16px;
float: left;
position: relative;
float: left;
line-height: 90px;
}

.banner h4{
font-size: 1.4em;
line-height: 55px;
}
.banner img {
position: absolute;
top: 0;
right: 0;
height: inherit;
}

footer {
width: 100%;
float: left;
background: #222;
color: #fff;
padding: 20px 70px;
}

footer ul li{
list-style: none;
}

footer ul li span{
font-size: 16px;
}

.brand-s{
width: 150px;
background: var(--main-bg-color);
padding: 10px;
text-align: center;
color: #000;
font-weight: 600;
font-size: 20px;
float: left;
}

footer ul li a{
display: block;
color: var(--main-color);;
margin-bottom: 5px;
font-size: 16px;
}

.header .in{
text-align: center;
font-size: 18px;
background: #000;
color: #fee500;
padding: 5px 10px;
border-radius: 15px;
}

.header .in a:hover{
	background-color: #fee500;
	color: #000;
}

.navbar .in .btn-search{
	width: 100%;
}

.shop{
text-align: center;
font-size: 20px;
}

.content {
background: #fff;
width: 100%;
float: left;
padding: 20px;
margin: 0px 0 40px;
border-radius: 15px;
}

.content img{
width: 100%;
height: 400px;
}

.p-0{padding: 0!important;}
.m-0{margin: 0!important;}

a.btn-order {
width: 100%;
transition: all 0.2s linear;
height: 60px;
background: #fee500;
display: block;
line-height: 60px;
text-align: center;
font-size: 1.5em;
color: #666;
border-radius: 35px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
font-weight: 500;
background-image: linear-gradient(to bottom,#fee500 0,#e4ce06 100%);
}

a.btn-order:hover {
text-decoration: none;
background: #fbe305;
/* color: #fee500; */
}

.product_price {
text-align: center;
font-size: 2.4em;
font-weight: 500;
margin-bottom: 11px;
margin-top: -10px;
}

.mb-5{
margin-bottom: 20px;
}

.shop-img{background-color: #fff;float: left;width: 100%;padding: 0;}
.big-img img {
width: 100%;
height: 440px;
/*padding: 10px;*/
/*border-radius: 5px;*/
}



.bg-white{background-color: white}

.shop-desc{
padding: 15px;
border-radius: 6px;
color: #333;
float: left;
width: 100%;
}

.shop-desc .desc-text{
font-size: 16px;
}

.shop-desc h2{
margin-bottom: 10px;
}
.min-img img {
width: 100%;
height: 70px;
}

.min-img {
padding: 5px;
}

.shop-price {
/*background: #f32020;
padding: 10px 20px;
text-align: center;
font-size: 1.4em;
border-radius: 35px;
margin-top: -15px;
margin-bottom: 20px;
box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
color: #fff;*/
font-size: 1.4em;
color: #fff;
text-align: center;
float: left;
width: 100%;
background: #53a318;
padding: 5px;
margin-top: 10px;
box-shadow: 0 0 4px 1px rgba(0,0,0,.1);
}

.line {border-right: 1px solid #e6e7e8;}

.shop-title{
margin: 0 15px 10px 15px;
}

select{
-webkit-appearance: none;
-moz-appearance: none;
/*appearance: none;*/
background-color: #fff;
border: 1px solid #d5d8db;
border-radius: 2px;
display: block;
font-size: 14px;
margin: 10px 0 24px;
transition: background-color .4s ease, border-color .4s ease, color .4s ease;
width: 100%;
color: #333;
position: relative;
height: 45px;
padding: 10px 15px;
}

.line-bottom{
border-bottom: 1px solid #e6e7e8;
width: 100%;
margin: 5px 0;
float: left;
}

.shop-icon{
/*color: #eb003c;*/
color: #444;
font-family: 'Nunito', sans-serif;
font-size: 1.3em;
font-weight: 600;
}

a.save-shop:hover {
text-decoration: none;
background: var(--main-bg-color);;
color: #444;
}

.save-shop{
text-align: center;
border: 1px solid #c6c7c8;
padding: 10px 20px;
width: 100%;
display: block;
margin-bottom: 10px;
float: left;
color: #444;
}

.badge.badge-primary {
background: #000000;
color: #fee500;
/* box-shadow: 0 0 5px 1px rgba(0,0,0,.1); */
margin-bottom: 3px;
}

.mb-2{
margin-bottom: 10px;
}


span.company-name {
font-size: 1.3em;
font-weight: 600;
font-family: "Nunito", sans-serif;
}

.stars{
/* color: #fee500; */
font-size: 0.8em;
}

.yellow{
color: #fee500;
}

.company-icon {
color: #53a318;
}

.mt-0{margin-top: 0px;}
.mt-1{margin-top: 5px;}
.mt-2{margin-top: 10px;}
.mt-3{margin-top: 15px;}
.mt-4{margin-top: 20px;}
.mt-5{margin-top: 25px;}
.mt-10{margin-top: 50px;}


.contact {
width: 100%;
float: left;
background: #f9f9f9;
padding: 10px;
border: 1px solid #f1f1f1;
font-size: 16px;
color: #444;
}

.call-number{
font-weight: 500;
}

.satici span{
color: #53a318;
font-weight: 500;
}

.bought{
font-size: 14px;
color: #53a318;
}

.mb-2{margin-bottom: 10px;}

.green{color: green}

.shop-extra p{font-size: 16px;}

.shop-extra a{
/* color: #0076d6; */
font-weight: 300;
}

.weight-6{font-weight: 600;}

.save{font-size: 24px;color: #eb003c;}

a.card-mini .price {position: absolute;bottom: 42%;background-color: #fee500;padding: 10px;right: 15px;}

.title {
font-size: 1.5em;
font-weight: 600;
margin-bottom: 10px;
}

a.btn-sel {
background: black;
color: #fee500!important;
height: 38px;
padding: 10px 20px!important;
border-radius: 20px;
margin-top: 6px;
display: inline-block;
font-weight: 800;
margin-right: 5px;
}


a.btn-sel:hover {
background: #333!important;
}

.sell-content {
width: 100%;
float: left;
border: 1px solid #e2e2e2;
padding: 0 20px;
margin-bottom: 20px;
box-shadow: 0 2px 8px rgba(0,0,0, 0.05);
background: #fff;
border-radius: 5px;
}

.sell-header {
border-bottom: 1px solid var(--line-color);
margin-bottom: 15px;
}

.sell-header h3 {
color: #222222;
}

.sell-header h3 span.shop-span {font-weight: 400;/* background: #0ba917; *//* padding: 5px 25px; *//* color: #fff; */font-family: sans-serif;}

.weight-3{font-weight: 300;}

.shop-form {
height: 45px;
/* border: 1px solid #53a318; */
}

button.sell-share {
background: var(--green-color);
padding: 10px 20px;
color: #fff;
margin: 10px 0;
}

.sell-share:hover, .sell-share:active{
text-decoration: none;
background: #489212;
color: #fff;
}



.form-control:focus{
border: 1px solid var(--green-color);
}

.error{color: var(--error-color);}
.success{ color: var(--green-color);}

label.image {
color: #fe6a00;
font-size: 15px;
border: 1px solid;
padding: 4px 20px;
border-radius: 16px;
cursor: pointer;
}

label.image:hover {
background: #ffebdd;
}

.navbar-toggle-black{
	background-color: #fff;
}

.navbar-toggle-black .icon-bar{
	background-color: #000;
}

@media (max-width: 768px) { 
	.xs-p-1{padding: .25rem!important}
	.xs-p-2{padding: .5rem!important}
	.xs-p-3{padding:1rem!important}
	.xs-p-4{padding: 1.5rem!important;}
	.xs-p-5{padding: 3rem!important;}

	li.sign{
		width: 100%;
	}
	.navbar-default .navbar-nav li.sign a{
		display: block!important;
		width: 100%!important;
		margin-top: 10px;
		background-color: #000;
		color: #fff;
		padding: 10px;
		text-align: center;
		border-radius: 50px;
	}
}

.sign{
	float: left;
}

.sign a{
	display: inline-block;
}

.p-1{padding: .25rem!important}
.p-2{padding: .5rem!important}
.p-3{padding:1rem!important}
.p-4{padding: 1.5rem!important;}
.p-5{padding: 3rem!important;}



.icon {
    position: absolute;
    left: 15px;
    top: 12px;
}

.form-group.form-search {
    position: relative;
    width: 100%;
}

form.navbar-form.navbar-left {
    position: relative;
    width: 70%;
}


#mini-gallery{
	width: 100%;
	position: relative;
	float: left;
}

#mini-gallery img{
	width: 100%;
	cursor: pointer;
}

#mini-gallery img:hover{
	cursor: zoom-in;
}

.cover-photo{
	max-height: 440px;
	float: left;
	margin-bottom: 20px;
}

.mini-photo{
	height: 120px;
	max-height: 170px;
	float: left;
	margin-bottom: 20px;
}

.cover-photo img{
	border-radius: 20px;
	max-height: 440px;
}

.mini-photo img{
	border-radius: 10px;
	height: 120px;
}

#mini-gallery{
	list-style: none;
	padding: 0;
}

.full-opacity{
	z-index: 999;
	width: 100%;
	height: 100vh;
	position: fixed;
	top:0;
	left: 0;
	background-color: #000;
	opacity: .5;
	visibility: hidden;
}

.brand a{
	color: #000;
	text-decoration: none;
}

.mini-slide-cover{
	position: fixed;
	width: 100%;
	height: 100vh;
	top:0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}

.mini-slide{
	position: relative;
	margin: 0 auto;
	width: 90%;
	/* width: 940px; */
	height: 100vh;
	background-color: #000;
}

.mini-slide img{
	width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
	max-width: 90%;
}

#mini-gallery div:hover{
	cursor: zoom-in;
	/* transform: scale(1.02); */
	/* -webkit-transform: scale(1.02); */
	transition: all .2s linear;
}

.left{
	position: absolute;
	left: 20px;
	top: 50%;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 50px;
	cursor: pointer;
}

.right{
	position: absolute;
	right: 10px;
	top: 50%;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 50px;
	cursor: pointer;
	/* padding: 20px; */
}

.mini-close{
	position: absolute;
	right: 20px;
	top: 20px;
	color: #fff;
	width: 40px;
	height: 40px;
	font-size: 30px;
	cursor: pointer;
}

.footer-wrapper{
	position: relative;
	height: 93px;
	float: left;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
  }
  .swipe-wrap {
	overflow: hidden;
	position: relative;
  }
  .swipe-wrap > img {
	float: left;
	width: 100%;
	height: 440px;
	max-height: 440px;
	position: relative;
	overflow: hidden;
  }

#nav{
	display: flex;
	height: 60px;
	justify-content: space-between;
	align-items: center;
	background-color: var(--main-color);
	padding: 20px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.nav-container{
	display: flex;
	flex-direction: row;
}

.drawermenu_button{
	display: flex;
	justify-content: flex-start;
	font-size: 24px;
}

#nav .brand {
	font-size: 22px;
	font-weight: 700;
	font-family: 'Nunito', sans-serif;
	justify-content: flex-end;
	color: #000
}

.add_elan a, .add_elan a:active, .add_elan a:focus{
	font-size: 20px;
	width: 30px;
	height: 30px;
	background-color: var(--second-bg-color);
	border-radius: 50%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: navajowhite;
	text-decoration: none;
}

.drawermenu{
	position: fixed;
	left: 0;
	top: 0;
	width: 70%;
	z-index: 9999;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
	background: #f1f3f7;
	transform: translateX(-100%);
	transition: all .5s cubic-bezier(0.52, -0.3, 0.66, 0.9);
}

.drawer_wrapper{
	height: 100vh;
	background-color: #f1f3f7;
}

.drawer_header{
	position: relative;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 12px 10px;
	width: 100%;
}

.drawer_lang{
	position: absolute;
    top: 0;
    display: block;
    height: 100%;
    left: 0;
    box-sizing: border-box;
}

.lang_link{
	font-size: 14px;
    font-weight: 500;
    display: block;
    color: #212c3a;
    padding: 21px 21px 21px 15px;
    box-sizing: border-box;
    height: 100%;
	text-decoration: none;
}

.lang_link:active, .lang_link:focus, .lang_link:hover{
	text-decoration: none;
}

.drawer_brand{
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    font-size: 18px;
    color: #000;
}

.drawer_close{
	position: absolute;
	top: 17px;
	right: 4px;
	width: 35px;
	height: 35px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #000;
	font-size: 20px;
	text-decoration: none;
	z-index: 999999;
}

.seperator{
	height: 2px;
	background-color: #f1f3f7;
	width: 100%;
	float: left;
}

.drawer_content{
	float: left;
	width: 100%;
}

.drawer_content ul{
	float: left;
	width: 100%;
	padding: 0;
	background: #fff;
}
.drawer_content ul li{
	list-style: none;
	float: left;
	width: 100%;
}

.drawer_content ul li a{
	display: block;
	color: #000;
	padding: 15px;
	font-size: 16px;
}

.box .price {
	width: 90%;
	height: 40px;
	line-height: 40px;
	background: #000;
	text-align: center;
	cursor: pointer;
	color: #fff;
	border-radius: 20px;
	bottom: 10px;
	font-size: 14px;
	position: absolute;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.vip-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--error-color);
    font-size: 18px;
    background-color: #fff;
    padding: 6px 5px;
    border-radius: 5px;
    line-height: 5px;
}

.card-img {
    position: relative;
}


.section{
	margin-bottom: 10px;
}

/* .drawer_footer{
	position: static;
    padding: 50px 0;
} */

.drawer_footer_content{
	display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
	bottom: 50px;
    background-color: #fff;
    color: #212c3a;
    font-size: 16px;
	padding: 10px;
}

.right-sticky {
    position: fixed;
    right: 0;
    background: #373737;
    width: 50px;
    height: 100vh;
    top: 60px;
    /* box-shadow: -3px 0 5px 1px rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    transition: all 0.3s ease-in;
}

.right-sticky a, .right-sticky a:hover, .right-sticky a:active{
	text-decoration: none;
}


.sticky-wrapper {
	padding: 0;
	list-style: none;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.sticky-wrapper li.sticky-item{
	list-style: none;
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	/* flex-wrap: wrap; */
	flex-direction: column;
	align-content: center;
	padding: 10px;
	border-radius: 6px;
}

.sticky-wrapper li{
	list-style: none;
	float: left;
	width: 100%;
	padding: 10px 20px;
	/* border-radius: 6px; */
}

ul.stick_hover_menu::before {content: '';position: absolute;width: 40%;/* background: aqua; */height: 100%;right: -41px;}

ul.stick_hover_menu::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #222;
	right: -4px;top: 40%;
	transform: rotate(45deg);
}

.sticky-wrapper li a{
	color: #fff;
	font-size: 22px;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-direction: column;
}

.sticky-wrapper li.sticky-item:hover{
	background-color: var(--main-bg-color);
}

.sticky-wrapper li.sticky-item:hover>a{
	color: #000;
}
.sticky-wrapper li a:hover{
	text-decoration: none;
	
}

.add_favorite {
    position: absolute;
    bottom: -35px;
    right: 10px;
    font-size: 22px;
	color: #a0a0a054;
}
ul.stick_hover_menu {
	position: absolute;
	background: #222222;
	color: #fff;
	border-radius: 6px;
	z-index: 99999;
	padding: 0;
	transition: right .3s, opacity 0.3s;
	/* top: -3px; */
	width: 180px;
	right: 65px;
	visibility: hidden;
	opacity: 0;
}

.stick_hover_menu a{
	font-size: 14px!important;
	float: left;
}
.stick_hover_menu li:hover{
	/* background-color: var(--main-bg-color); */
	opacity: .9;
}
.stick_hover_menu li:not(:firt-child){
	border-top: 1px solid #444;
}

ul.nav.navbar-nav.navbar-right.xs-p-3.nav-sign {
    padding-top: 5px;
}

@media screen and (max-width: 991px){
	form.navbar-form.navbar-left{
		width: 63%;
	}
}

.sticky-body {
    width: 400px;
    background: #333;
    float: left;
    height: 100vh;
    position: fixed;
    right: -400px;
    top: 50px;
    z-index: 10;
    transition: all .3s ease-in;
    overflow: scroll;
}

.sticky-body-content{
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	overflow: scroll;
}

.sticky-body-header {
    margin-top: 8px;
    width: 100%;
    /* background: #fee500; */
    padding: 10px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.3);
    color: #fff;
}

:root{
	--main-color: #fee500;
	--main-bg-color: #fee500;
	--green-color: #53a318;
	--line-color: #e2e2e2;
	--second-bg-color: #000;
	--error-color: #ff0000;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-left: 5px;
	padding-right: 5px;
}

@media screen and (min-width: 1200px){
	.container{
		width: 1070px;
	}
}
.container{
	padding-left: 30px;
	padding-right: 30px;
}

.card-body strong{
	font-size: 15px;
	font-weight: 400!important;
}

@media (min-width: 768px){
	.add_favorite:hover>i{
		color: var(--error-color);	
		transition: color .2s ease-in;
	}
}


.card img {
    width: 100%;
}

.card-body {
    padding: 0 10px;
}

.card .card-footer {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.sticky-body-wrapper {
    padding-bottom: 60px;
}

.active-sticky{
	background-color: var(--main-bg-color);
	color: #000!important;
}

.active-sticky>a{
	color: #000!important;
}

.stick-notify {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-size: 18px;
    color: #999;
	flex-direction: column;
}

.stick-body-fav-icon {
    font-size: 54px;
    color: var(--main-bg-color);
}

.error-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-item{
	justify-content: center;
	align-items: center;
	display: flex;
	color: #c2c2c2;
	font-size: 2em;
}

.brand{
	font-size: 40px;
}

.axtar:hover, .axtar:focus{
	border: 2px solid #494949!important;
}

.axtar{
	outline: none;
}

.box-card {
	cursor: pointer;
	background: #fff;
	box-shadow: 0 13px 20px 10px rgba(0,0,0,.2);
	border-radius: 20px;
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid transparent;
}

.box-card:hover{
	text-decoration: none;
	border: 1px solid #ff6000;
}

.box-card-body{
	text-decoration: none;
	color: #494949;
	padding: 20px;
}

.bg-primary{
	background-color: var(--main-bg-color);
}

.btn-primary{
	background-color: var(--main-bg-color);
	color: #494949;
	border: 1px solid #494949;
}

.btn-primary:hover{
	background-color: #494949!important;
}

.addItemButton{
	position: fixed;
	bottom: 40px;
	right: 70px;
	width: 50px;
	height: 50px;
	background-color: #0070cc;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 50%;
	z-index: 9999;
}

.addItemButton:hover, .addItemButton:focus{
	text-decoration: none;
	background-color:#007ae4;
	font-weight: 600;
	color: #fff;
}

.cabinet-tab{
	width: 100%;
	position: relative;
	padding: 0;
	float: left;
	background-color: #494949;
	margin: 0;
}

.cabinet-tab li{
	list-style: none;
	float: left;
}


.cabinet-tab li.tab-item a{
	color: #fff;
	padding: 20px 30px;
	display: block;
	border-right: 1px solid #fff;
	border-bottom: 4px solid transparent;
	transition: all .1s linear;
}

.cabinet-tab li.tab-item a:hover{
	text-decoration: none;
	border-bottom: 4px solid var(--main-bg-color);
}

.cabinet-body{
	min-height: 300px;
	background-color: #f2f2f2;
	padding: 40px;
	display: block;
	float: left;
	margin: 0;
	width: 100%;
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
	flex-wrap: wrap;
	flex-direction: row;
}

.cabinet-tab li.tab-item .active{
	border-bottom: 4px solid var(--main-bg-color);
}

.cabinet-tab li.tab-item a:hover,.cabinet-tab li.tab-item a:focus{
	text-decoration: none;
}

.centered{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 40vh;
	width: 100%;
}

.aktiv-body{
	width: 100%;
	float: left;
	display: block;
}

.yoxlanilir-body{
	width: 100%;
	float: left;
	display: none;
}

a.card-mini:focus {
    text-decoration: none;
}

.tab-body{
	width: 100%;
	float: left;
}

.wrap{
	display: flex;
	width: 100%;
	min-height: 300px;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #494949;
}

.wrap i, .wrap span{
	font-size: 8em;
	color:#c2c2c2;
}

.wrap p{
	font-size: 1.4em;
	color:#c2c2c2;
	margin-top: 20px;
}


@media (max-width: 768px){
	.wrap p{
		font-size: 1.2em;
		margin-top: 20px;
	}

	.wrap-content{
		width: 70%;
	}
}

@media screen and (max-width: 768px){
	body{
		background-color: #e5edee;
	}
}
@media screen and (min-width: 991px){
.login-wrapper{
	margin-top: 50px;
}
}
@media screen and (max-width: 768px){
	.login-wrapper{
		margin-top: 50px;
	}
}

.header-mobile{
	width: 100%;
	background-color: #fff;
	float: left;
	border-bottom-left-radius: 20px;
}

.header-mobile .header-container{
	width: 100%;
	float: left;
}

.search-bar{
	position: relative;
	width: 100%;
	float: left;
	padding: 10px;
}

.search-bar input{
	width: 100%;
	padding: 10px 10px;
	border-radius: 10px;
	border: 1px solid #c2c2c2;
}
.search-bar input:focus{
	outline: none;
}
.mobile-category{
	width: 100%;
	float: left;
	overflow-x: scroll;
	background-color: #fff;
	padding: 10px;
	/* margin-bottom: 20px; */
	box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.mobile-category ul{
	list-style: none;
	padding: 0 10px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	float: left;
}

.mobile-category ul::-webkit-scrollbar, .mobile-category::-webkit-scrollbar{
	display: none;
}

.mobile-category ul li{
	float: left;
	border: 1px solid #c2c2c2;
	margin-right: 10px;
	text-align: center;
	min-width: 100px;
	border-radius: 6px;
	width: -webkit-max-content;
	width: -moz-max-content;
    width: max-content;
}

.mobile-category ul li a{
	color: #494949;
	display: block;
	padding: 10px;
}

.icon-search{
	position: absolute;
	top: 12px;
	right: 13px;
	font-size: 18px;
	padding: 6px 10px;
	border-radius: 6px;
	color: #494949;
	background-color: #fff;
	border: none;
}

.izle .item{
	float: left;
	margin-bottom: 10px;
	position: relative;
}

.izle .bar{
	width: 101px;
	/* border: 2px solid #c2c2c2; */
	border-radius: 20px;
	margin: 0 10px;
	position: relative;
	/* float: left; */
	height: 6px;
	background: #c2c2c2;
}

.bar span{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	/* width: 74%; */
	background-color: #0070cc;
	height: 6px;
	border-radius: 20px;
}

.bookmarks{
	position: relative;
	cursor: pointer;
}

@media (min-width: 768px){
	.container{
		padding: 0 100px;
	}
}

.card-mini img, .card img{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 161.25px;
}

.card-mini .card-footer {
    padding-bottom: 10px;
}

#autoload{
	float: left;
	width: 100%;
}

.pan{
	position: fixed;
	width: 200px;
	height: 80px;
	padding: 20px;
	background-color: #333;
	color: #fff;
	top: 200px;
	left: 200px;
	z-index: 99999;
}

.form-card{
	padding: 15px 20px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
	border-radius: 10px;
}